#loginform {
    button {
        @extend .btn;
    }
}

.itsec-pwls-login-fallback {
    position: unset !important;
    bottom: unset !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: unset;
    width: unset;
}

#loginform {
    overflow: unset;
}

#itsec-2fa-on-board-app, #itsec-2fa-on-board {
    h2 {
        color: $vinnies-blue;
    }
    p {
        color: black;
    }
    a {
        color: unset !important;
    }
}

.itsec-pwls-login {
    p {
        color: white;
    }
}