#loginform, #lostpasswordform, #itsec-pwls-login-user-form, #itsec-passwordless-login, #itsec-2fa {
    padding-bottom: 25px;
    border: 2px solid #eee;
    background: rgba(0,0,0,0.2);
}

#login {
    width: 420px;

    input[type="text"], input[type="password"] {
        padding: 10px 10px;
    }

    input[type="submit"] {
        @extend .btn;
    }

    input[type="submit"]:hover {
        @extend .btn
    }

    #rememberme {
        float: left;
        margin-top: 2px;
    }

    a {
        color: $login-box-color;
    }

    a:hover {
        color: $login-box-hover-color;
    }
}
