#loginform, #lostpasswordform, #itsec-pwls-login-user-form, #itsec-passwordless-login, #itsec-2fa, #resetpassform  {
    padding-bottom: 25px;
    border: 2px solid #eee;
    background: rgba(0,0,0,0.2);
}

#login_error, .login .message, #itsec-verify-email-message {
    background: rgba(0,0,0,0.2) !important;
}

#login {
    width: 420px;

    input[type="text"], input[type="password"] {
        padding: 10px 10px;
        margin-top: 10px;
        display: block !important;
    }

    input[type="submit"] {
        @extend .btn;
    }

    input[type="submit"]:hover {
        @extend .btn
    }

    #rememberme {
        float: left;
        margin-top: 2px;
    }

    a {
        color: $login-box-color;
    }

    a:hover {
        color: $login-box-hover-color;
    }

    #lostpasswordform {
        label {
            color: $login-box-link-color;
        }
    }

    h1 a {
        background-size: 185px !important;
        width: unset !important;
    }


    label {
        display: unset !important;
    }

    .message, #login_error {
        color: $error-box-text-color !important;
    }


}

#loginform {

    overflow: auto;

    p, label {
        color: $login-box-link-color;
    }
    
}

#nav a, #backtoblog a {
    color: $login-box-link-color !important;
}
