/** Colors **/
$vinnies-blue               : #004a99;
$vinnies-yellow             : #ffee00;
$button-background-color    : #007bff;
$button-border-color        : #6cbafa;
$button-text-color          : #fff;
$fall-back-background-color :  $vinnies-blue; 

/** Logos **/
$main-logo        : "../images/logo.png";
$background-image : "../images/background.png"; 

/**Fonts **/

@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
$body-text : 'Sarabun', Helvetica, sans-serif;