.btn {
    background-color: $button-background-color;
    border: 2px solid $button-border-color;
    color: $button-text-color !important;
    margin-bottom: 10px !important;
    color: #333;
    height: auto;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 0;
    width: 100%;
}

.btn:hover {
    border: 2px solid $vinnies-yellow;
}

.btn:active {
    background-color: $button-active-bg-color
}